.tableWidget {
    width: 100%;
    height: fit-content;
    text-align: left;
    padding: 10px;
}

table{
    margin: 0 2rem;
    thead{
        font-size: 2vw;
        font-family: "Titillium Web";
        border: 2px solid black;
        font-weight: bold;
        tr{
            th {
                border-bottom: 2px solid black;
            }
        }
    }
    tbody{
        tr{
            td{
                font-size: 2vw;
                font-family: "Titillium Web";
                font-weight: 300;
                border-bottom: 1px solid black;
                padding: 5px 0;
            }
        }
    }
}